/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */
 /*
Arc-Dark Color Scheme
*/

@define-color highlight #5294e2 ;
@define-color base1  #404552 ;

 
 
@keyframes blink-warning {
    70% {
        color: white;
    }
 
    to {
        color: white;
        background-color: orange;
    }
}
 
@keyframes blink-critical {
    70% {
      color: white;
    }
 
    to {
        color: white;
        background-color: red;
    }
}
 
 
/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #bebebe;
    background-color: @base1;
    font-family: UbuntuMono;
    font-size: 14px;
}

/* Each module */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery{
      padding:0.5rem 0.6rem;
      margin: 1px 0px;
}


 
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
 
#battery {
        
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
 
#battery.warning {
        color: orange;
}
 
#battery.critical {
        color: red;
}
 
#battery.warning.discharging {
        animation-name: blink-warning;
        animation-duration: 3s;
}
 
#battery.critical.discharging {
        animation-name: blink-critical;
        animation-duration: 2s;
}

#cpu{
 
}
#cpu.warning {
        color: orange;
}
 
#cpu.critical {
        color: red;
}
 
#memory {
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
 
#memory.warning {
        color: orange;
 }
 
#memory.critical {
        color: red;
        animation-name: blink-critical;
        animation-duration: 2s;
        padding-left:5px;
        padding-right:5px;
}
 
#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding:7;
  }
 
#network.disconnected {
        color: orange;
}

#pulseaudio{
padding-top:6px;
} 
#pulseaudio.muted {
    color: @highlight; 
}
 
#temperature.critical {
        color: red;
}
 
#window {
}
 
#workspaces{
font-size:13px;
}
#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    padding:0px;
    
}

#workspaces button.urgent {
        border-color: #c9545d;
        color: #c9545d;
}
#workspaces button.current_output {
     border-bottom: 1px solid  @highlight;
     margin-bottom: 1px;
     padding-left:0;

} 


#workspaces button.focused {
     border-bottom: 3px solid  @highlight;
     margin-bottom: 1px;
     padding-left:0;
  }
#custom-power{
   margin-left:15px;
   margin-right:15px;
   font-size:15px;
}   
#custom-launcher{
   font-size:15px;
   margin-left:15px;
   margin-right:10px;
 }   

#backlight.icon{
 padding-right:1px;
 font-size: 13px;	
}


